<section class="index-page">
  <div class="img">
    <img class="avatar" src="{{avatar}}" alt="">
  </div>
  <h2>Hello {{name}}!</h2>
  <form action="/auth/logout" method="post">
    <button type="submit" class="btn-logout">Log out</button>
  </form>
</section>